<footer>
    <div>
        <ul class="flex justify-center gap-10 p-3 bg-footerGray text-sm font-semibold" >
            <li>Privacy policy</li>
            <li>About</li>
            <li>Home</li>
            <li>Sign In</li>
            <li>Sign Up</li>
        </ul>
    </div>
    <p class="text-center p-4 bg-mainColor text-white" >
        Survey Rails App @ 2022 | Angel Gonzalez
    </p>
</footer>